.gradle
build/
app/build/
app/release/
app/release/vision-quickstart-release.aab
.DS_Store
*.iml
*.apk
*.aar
*.zip
google-services.json

.project
.settings
.classpath

local.properties

.idea/*
!idea/codeStyles

captures
.externalNativeBuild
.cxx

